<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cap2100.nfcattendance" >

    <uses-sdk
        android:maxSdkVersion="23"
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" >
        </activity>
        <activity android:name=".Createtag" >
        </activity>
        <activity
            android:name=".NFCWrite"
            android:parentActivityName=".Createtag" >
            <meta-data
                android:name="android.support.Parent_ACTIVITY"
                android:value=".Createtag" />
        </activity>
        <activity android:name=".selectClass" >
            <intent-filter>
                <action android:name=".SELECTCLASS" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
            <action android:name="android.nfc.action.NDEF_DISCOVERED" />

            <data android:mimeType="application/cap2100.nfcattendance" />

            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".About" >
        </activity>
        <activity android:name=".NameList" >
            android:label="Attendance List">
            <intent-filter>
                <action android:name=".NAMELIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DeleteData"
            android:label="Delete Attendance">
            <intent-filter>
                <action android:name=".DELETEDATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
